<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret</title>
  <style>
    body,
    html {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e4e8ee;
    }

    .container {
      text-align: center;
    }

    i {
      font-size: 80px;
    }

    .display {
      font-size: 40px;
    }

    .secret-text {
      background-color: black;
      color: white;
      padding: 19px;
      font-size: 35px;
    }

    a {
      text-decoration: none;
      /* padding: 14px; */
      margin-top: 10px;
      border-radius: 7px;
      font-size: 20px;
      padding: 14px;
    }

    #s {
      background-color: white;
      color: black;
    }

    #l {
      background-color: black;
      color: white;
    }
  </style>
</head>

<body>
  <!-- <div class="jumbotron text-center"> -->
  <div class="container">
    <i class="fas fa-key fa-50x"></i>
    <h1 class="display">You've Discovered My Secret!</h1>
    <p class="secret-text">
      <%=d%>
    </p>
    <!-- <hr> -->

    <a class="btn" id="s" href="/logout" role="button">Log Out</a>
    <a class="btn" id="l" href="/submit" role="button">Submit a Secret</a>
  </div>
  <!-- </div> -->

  <script src="https://kit.fontawesome.com/513ea60794.js" crossorigin="anonymous"></script>

</body>

</html>